<h1> <%= @cocktail.name %> </h1>

<%= cl_image_tag(@cocktail.photo,
      width: 400, height: 300, crop: :fill) %>

<h5>Ingredient - dose :</h5>

<ul>
    <% @cocktail.doses.each do |dose| %>
    <li>
      <%= dose.ingredient.name %> - <%= dose.description %>
      <%= link_to "Delete this dose", dose_path(dose),
        method: :delete,
        data: {confirm: "Are you sure?" } %>
    </li>
  <% end %>
</ul>

<%= render 'layouts/form', cocktail: @cocktail, dose: @dose %>

<%= link_to "Edit this cocktail", edit_cocktail_path(@cocktail)  %> <br>

<%= link_to "Back", root_path  %>
